*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

html body{
    padding: 0;
}
.containers {
    background-color: #1C438C;
    width: 100%;
    min-height: 750px;
    justify-content: center;
    padding: 300px 10px 0px 10px;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    z-index: 2;
    
}

.text-header {
    max-width: 700px;
    max-height: 300px;
}

.text-header h2 {
    color: var(--white);
    font-size: 28px;
    font-weight: 400;
}

.text-header h1 {
    color: var(--white);
    font-size: 3.1rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.title-header2{
    margin-top: 50px;
   
}

.text-header p {
    color: #F5F6FA;
    font-size: 23px;
    font-weight: 700;
    text-align: justify;
    margin-top: 30px;
    line-height: 30px;
}

.image-bian img {
    max-width: 630px;
    height: auto;
    margin-top: -70px;
}

@media (max-width:1260px) {
    .image-bian img {
        margin-top: 0px;
        width: 350px;
    }
}

.button-faq .btn {
    width: 220px;
    padding: 8px 20px 8px 20px;
    border-radius: 25px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    border: 2px solid #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
}

.button-faq .bx {
    font-size: 28px;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.btn:hover::before {
    transform: translateX(0);
}

.btn:hover {
    color: #1C438C;
}

.content-landing {
    
}

.text-content {
    max-width: 500px;
}

.text-content .subjudul {
    font-size: 3.1rem;
    color: #1C438C;
    font-weight: 700;
    line-height: 50px;
}

.text-content p {
    font-size: 20px;
    font-family: 300;
    color: black;
    margin: 15px 0 25px 0;
    font-weight: 500;
    line-height: 25px;
    text-align: justify;
}

.text-content ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text-content ul li {
    font-size: 24px;
    color: black;
    display: flex;
    gap: 12px;
    font-weight: 600;
}

.text-content ul li i {
    font-size: 30px;
    color: #1C438C;
}

.content-2 .text-content ul li:last-child button,
.content-3 .text-content ul li:last-child button,
.content-4 .text-content ul li:last-child button{
    background-color: #1C438C;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.more-button .btn-more {
    justify-content: center;
    align-items: center;
    display: flex;
}
.more-button .bx {
    font-size: 20px;
}

.btn-more {
    display: inline-block;
    padding: 0.7rem 1.2rem;
    font-size: 14px;
    font-weight: 700;
    color: #1C438C;
    border: 3px solid #1C438C;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.btn-more::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1C438C;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.btn-more:hover::before {
    transform: translateX(0);
}

.btn-more:hover {
    color: #ffffff;
}

.content-1,.content-2,.content-3,.content-4 {
    display: flex;
    padding: 0px 100px;
    align-items: center;
    gap: 160px;
    margin-bottom: 200px;
}

.content-1 .img-content img,
.content-2 .img-content img,
.content-3 .img-content img,
.content-4 .img-content img {
    width: 35vw;
    object-fit: cover;
    /* min-width: 25vw; */
}

@media (max-width:1035px) {
    .content-landing{
        padding: 0 10px;
    }
    .content-1,.content-3 {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .content-2,.content-4{
        display: flex;
        flex-direction: column-reverse;
        gap: 35px;
    }
    .content-1 .img-content img {
        width: 35vw;
    }
    .content-2 .img-content img,
    .content-3 .img-content img,
    .content-4 .img-content img{
        width: 35vw;
    }
    .content-1 .text-content h1 {
        text-align: center;
    }
}
@media (max-width:550px) {
    .content-1 .img-content img,
    .content-2 .img-content img,
    .content-3 .img-content img {
        width: 55vw;
    }
}

.content-2{
    background-color: white;
}
.content-1{
    background-color: white;
    margin-top: 100px;
}

.faq-drawer {
    margin-bottom: 30px;
  }
  
  .faq-drawer__content-wrapper {
    margin-top: 5px;
    font-size: 1.25em;
    line-height: 1.4em;
    max-height: 0px;
    overflow: hidden;
    transition: 0.25s ease-in-out;
  }
  
  .faq-drawer__title {
    border-top: #A1A1A1 1px solid;
    cursor: pointer;
    display: block;
    font-size: 1.25em;
    font-weight: 700;
    padding: 30px 0 0 0;
    position: relative;
    margin-bottom: 0;
    transition: all 0.25s ease-out;
    font-family: 'Lato';
  }
  .faq-drawer__title1 {
    border-top: #A1A1A1 0px solid;
    cursor: pointer;
    display: block;
    font-size: 1.25em;
    font-weight: 700;
    padding: 0 0 0 0;
    position: relative;
    margin-bottom: 0;
    transition: all 0.25s ease-out;
  }
  
  .faq-drawer__title::after {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: " ";
    display: inline-block;
    float: right;
    height: 10px;
    left: 2px;
    position: relative;
    right: 20px;
    top: 2px;
    transform: rotate(135deg);
    transition: 0.35s ease-in-out;
    vertical-align: top;
    width: 10px;
    border-color: #1C438C;
  }
  
  
  .faq-drawer__title1::after {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: " ";
    display: inline-block;
    float: right;
    height: 10px;
    left: 2px;
    position: relative;
    right: 20px;
    top: 2px;
    transform: rotate(135deg);
    transition: 0.35s ease-in-out;
    vertical-align: top;
    width: 10px;
    border-color: #1C438C;
  }
  
  
  .faq-drawer__title:hover { 
    color: #4E4B52  ;
  }
  
  .faq-drawer__trigger:checked
    + .faq-drawer__title
    + .faq-drawer__content-wrapper {
    max-height: 350px;
  }
  .faq-drawer__trigger:checked
    + .faq-drawer__title
    {
    color: #1C438C;
  }
  .faq-drawer__trigger:checked
    + .faq-drawer__title1
    {
    color: #1C438C;
  }
  .faq-drawer__trigger:checked
    + .faq-drawer__title1
    + .faq-drawer__content-wrapper {
    max-height: 350px;
  }
  
  .faq-drawer__trigger:checked + .faq-drawer__title::after {
    transform: rotate(-45deg);
    transition: 0.25s ease-in-out;
  }
  
  .faq-drawer__trigger:checked + .faq-drawer__title1::after {
    transform: rotate(-45deg);
    transition: 0.25s ease-in-out;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  @media only screen and (max-width: 600px) {
    .container {
      padding: 80px;
    }
  }

  .faq{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .faq-title h1{
   text-align: center;
   font-size: 2rem;
   font-weight: 700;
  }
  
  .faq-title{
    margin-bottom: 100px;
  }