body {
    background-color: white;
}

.wave-bottom {
    margin-top: -1px;
}
.containers {
    background-color: #1c438c;
    width: 100%;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    padding: 200px 10px 0px 10px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    z-index: 2;
}

.text-header {
    max-width: 730px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-header h1 {
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    line-height: 65px;
}

.text-header p {
    color: #f5f6fa;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

.image-bian img {
    max-width: 500px;
    height: auto;
}

.button-faq .btn {
    width: 220px;
    padding: 8px 20px 8px 20px;
    border-radius: 25px;
    font-weight: 400;
    font-size: 18px;
    border: 2px solid #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
}

.button-faq .bx {
    font-size: 28px;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: -1;
}

.btn:hover::before {
    transform: translateX(0);
}

.btn:hover {
    color: #1c438c;
}

.image-bian img {
    width: 80vw;
    height: auto;
    margin-top: -70px;
}

@media (max-width: 1289px) {
    .containers {
        padding: 150px 100px 0px 100px;
        flex-wrap: wrap;
    }

    .image-bian img {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 650px;
    }
}

.text-content {
    max-width: 500px;
}

.text-content .subjudul {
    font-size: 3.1rem;
    color: #1c438c;
    font-weight: 700;
    line-height: 50px;
}

.text-content p {
    font-size: 20px;
    font-family: 300;
    color: black;
    margin: 15px 0 25px 0;
    font-weight: 500;
    line-height: 25px;
    text-align: justify;
}

.text-content ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text-content ul li {
    font-size: 24px;
    color: black;
    display: flex;
    gap: 12px;
    font-weight: 600;
}

.text-content ul li i {
    font-size: 30px;
    color: #1c438c;
}

.content-2 .text-content ul li:last-child button,
.content-3 .text-content ul li:last-child button,
.content-4 .text-content ul li:last-child button {
    background-color: #1c438c;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.more-button .btn-more {
    justify-content: center;
    align-items: center;
    display: flex;
}

.more-button .bx {
    font-size: 20px;
}

.btn-more {
    display: inline-block;
    padding: 0.7rem 1.2rem;
    font-size: 14px;
    font-weight: 700;
    color: #1c438c;
    border: 3px solid #1c438c;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.btn-more::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1c438c;
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: -1;
}

.btn-more:hover::before {
    transform: translateX(0);
}

.btn-more:hover {
    color: #ffffff;
}

.faq {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-2,
.content-3 {
    display: flex;
    padding: 0px 150px;
    align-items: center;
    justify-content: center;
    gap: 220px;
    margin-bottom: 200px;
}

.content-1 {
    display: flex;
    padding: 0px 150px;
    align-items: center;
    justify-content: center;
    gap: 200px;
    margin-bottom: 200px;
}

.content-4 {
    display: flex;
    padding: 0px 150px;
    align-items: center;
    justify-content: center;
    gap: 350px;
}

.content-1 .img-content img {
    width: 30vw;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
    margin-right: 80px;
}

.content-2 .img-content img {
    width: 35vw;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
}

.content-3 .img-content img {
    width: 35vw;
    object-fit: cover;
    border-radius: 10px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
}

.content-4 .img-content img {
    width: 30vw;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
}

@media (max-width: 1215px) {
    .content-landing {
        padding: 0 10px;
    }

    .content-1,
    .content-3 {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .content-2,
    .content-4 {
        display: flex;
        flex-direction: column-reverse;
        gap: 35px;
    }

    .content-1 .img-content img {
        width: 90%;
        margin-left: 7%;
    }
    .content-2 .img-content img {
        width: 50vw;
    }
    .content-3 .img-content img {
        width: 50vw;
    }

    .content-4 .img-content img {
        width: 45vw;
    }

    .content-1 .text-content h1 {
        text-align: center;
    }
    .content-4 .text-content h1 {
        text-align: center;
    }
}

@media (max-width: 450px) {
    .image-bian {
        display: none;
    }

    .containers {
        padding: 150px 40px 100px 40px;
        flex-wrap: wrap;
    }
    .text-header p {
        text-align: justify;
    }

    .content-1 .img-content img {
        width: 55vw;
        margin-left: 15%;
    }

    .content-2 .img-content img {
        width: 100%;
    }
    .content-3 .img-content img {
        width: 100%;
    }

    .content-2 .text-content h1 {
        text-align: center;
    }
    .content-3 .text-content h1 {
        text-align: center;
    }

    .content-1 {
        padding: 0px 15px;
        margin-bottom: 100px;
    }
    .content-2 {
        padding: 0px 15px;
        margin-bottom: 100px;
    }
    .content-3 {
        padding: 0px 15px;
        margin-bottom: 100px;
    }
    .content-4 {
        padding: 0px 15px;
        margin-bottom: 100px;
    }

    .faq {
        padding: 20px;
    }

    .content-1 .text-content h1,
    .content-2 .text-content h1,
    .content-3 .text-content h1,
    .content-4 .text-content h1 {
        font-size: 2.4rem;
    }
}

@media (max-width: 400px) {
    .containers {
        padding: 100px;
    }
}

@media (max-width: 850px) {
    .content-1 .img-content img {
        width: 45vw;
    }
}

.content-2 {
    background-color: white;
}

.content-1 {
    background-color: white;
    margin-top: 100px;
}

.faq-drawer {
    margin-bottom: 30px;
}

.faq-drawer__content-wrapper {
    margin-top: 5px;
    font-size: 1.25em;
    line-height: 1.4em;
    max-height: 0px;
    overflow: hidden;
    transition: 0.25s ease-in-out;
}

.faq-drawer__title {
    border-top: #a1a1a1 1px solid;
    cursor: pointer;
    display: block;
    font-size: 1.25em;
    font-weight: 700;
    padding: 30px 0 0 0;
    position: relative;
    margin-bottom: 0;
    transition: all 0.25s ease-out;
    font-family: "Lato";
}

.faq-drawer__title1 {
    border-top: #a1a1a1 0px solid;
    cursor: pointer;
    display: block;
    font-size: 1.25em;
    font-weight: 700;
    padding: 0 0 0 0;
    position: relative;
    margin-bottom: 0;
    transition: all 0.25s ease-out;
}

.faq-drawer__title::after {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: " ";
    display: inline-block;
    float: right;
    height: 15px;
    left: 2px;
    position: relative;
    right: 20px;
    top: 2px;
    transform: rotate(135deg);
    transition: 0.35s ease-in-out;
    vertical-align: top;
    width: 15px;
    border-color: #1c438c;
}

.faq-drawer__title1::after {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: " ";
    display: inline-block;
    float: right;
    height: 15px;
    left: 2px;
    position: relative;
    right: 20px;
    top: 2px;
    transform: rotate(135deg);
    transition: 0.35s ease-in-out;
    vertical-align: top;
    width: 15px;
    border-color: #1c438c;
}

.faq-drawer__title:hover {
    color: #4e4b52;
}

.faq-drawer__trigger:checked
    + .faq-drawer__title
    + .faq-drawer__content-wrapper {
    max-height: 350px;
}

.faq-drawer__trigger:checked + .faq-drawer__title {
    color: #1c438c;
}

.faq-drawer__trigger:checked + .faq-drawer__title1 {
    color: #1c438c;
}

.faq-drawer__trigger:checked
    + .faq-drawer__title1
    + .faq-drawer__content-wrapper {
    max-height: 350px;
}

.faq-drawer__trigger:checked + .faq-drawer__title::after {
    transform: rotate(-45deg);
    transition: 0.25s ease-in-out;
}

.faq-drawer__trigger:checked + .faq-drawer__title1::after {
    transform: rotate(-45deg);
    transition: 0.25s ease-in-out;
}

input[type="checkbox"] {
    display: none;
}

@media only screen and (max-width: 600px) {
    .faq {
        padding: 40px;
    }
}

.faq-title h1 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    color: #1c438c;
}

.faq-title {
    margin-bottom: 80px;
}
